.container {width: 100%; max-width: 1600px; margin: 0 auto; padding-left: 60px; padding-right: 60px;}

@media only screen and (max-width: 600px) {
    .headline, .container, .title {font-size: 20px; margin: 0 auto; width: 100%; padding-left: 0px; padding-right: 0px;}
    .navbar, .col-sm-6, {margin: 0 auto; width: 100%; padding-right: 0px; border-right: 0px;}
    .col-sm-6, {padding-right: 15px; border-bottom: 1px solid #e2e2e2; padding-bottom: 10px;}
    #photo1 {margin: 0 auto; width: 100%; height: 150;}
    .byline {font-size: 12px; margin: 0 auto; width: 100%;}
    .navbar, .caption, .navbar.navbar-expand-lg.navbar-dark.bg-inherit, .row, nav {margin: 0 auto; width: 100%;}
    .photos, #photo1, #photo2, #photo3, #photo4 {margin: 0 auto; width: 100%; height: auto;}
    a.nav-link, li.nav-item {display: none;}
    a.navbar-title {padding-left: 80px;}
    button.menu-bars {margin-left: 0px; display: inline-block;}
    button.contact {margin-left: auto; margin-right: 15px;}
    #story1, #story2 {border-bottom: 1px solid #e2e2e2;}
    .hero-image {width: 100%; margin: 0 auto; padding-left: 15px; padding-right: 15px;}
    .title {font-size: 32px; margin-top: 25px;}}

@media only screen and (max-width: 667px) {#reporting {display: none;}}
@media only screen and (min-width: 667px) {button.menu-bars {display: none;}}

@media only screen and (min-width: 600px) {
    button.contact {margin-left: 20px; margin-right: 60px;}
    #left-links {margin-left: 60px;}
    a.nav-link, li.nav-item {display: inline;}
    .title {font-size: 48px; padding-top: 45px;}}

a:hover {text-decoration: underline; color: #3452cb;}
a {color: black;}
a.nav-link, a.nav-button {color: white; font-weight: 700;}
a.nav-button {transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;}
a.nav-link:hover, a.navbar-title:hover {text-decoration: underline;}
a.navbar-title {display: inline-block; border-radius: 3px; margin: 0 auto; text-align: center; color: white; font-family: 'Helvetica', sans-serif; font-weight: 700; font-size: 1em;}
li.nav-title {margin: 0 auto; list-style-type: none;}
button.contact {background-color: #3452cb; border: 1px solid #1f317a; font-family: 'Helvetica', sans-serif; color: #fff; cursor: pointer; font-size: 12px; font-weight: 700;  border-radius: 3px; letter-spacing: .05em; line-height: 11px; padding: 11px 12px 8px; float:right;}
button.contact:hover {background-color: #1f317a;}
button.menu-bars {background-color: inherit; width: 40px; color: white; border: none; position: absolute;}
button.menu-bars:hover {background-color: #373433;}
i.fas.fa-bars {background color: #d4d4d4; border-radius: 3px;}

#sidebar {position: fixed;
width: 200px;
height: 100%;
background: #151719;
Left: -200px;
transition: all 500ms linear;}
#sidebar.active {left: 0px;}
#sidebar.li {color: white;
list-style: none;
padding: 15px 10px;
border-bottom: 1px solid rgba(100, 100, 100, 0.3);}

.title {font-family: 'Open Sans','Helvetica', arial, sans-serif; font-weight: 700; color: black; line-height: 48px; margin-bottom: 15px; text-align: center;}
#subtitle {text-align: center;}

p {text-align:left; line-height:180%; font-family: 'Libre Baskerville', 'Georgia', 'Times New Roman', serif; font-size: 15px;}

.nav-link, li.nav-item {font-size: 1em; color: white; font-family: 'Helvetica', sans-serif; list-style: none;}
.navbar {font-family: 'Helvetica', 'Montserrat', sans-serif; color: inherit; width: 100%; border-bottom: 1px solid #bfbfbf; background-image: url(images/banner-option3.jpg);}

.headline {font-family: 'Open Sans','Helvetica', arial, sans-serif; font-size: 26px; font-weight: 200; color: black; text-align: left; margin: 0 auto; padding-bottom: 5px;}
.byline {font-size: 10px; font-weight: 500; font-family: 'Open Sans', 'Helvetica', arial, sans-serif; color: rgb(179, 179, 179); margin: 0 auto; padding-bottom: 10px;}

.col-sm-6 {margin: 0 auto; display: inline;}
.col-sm-9 {display: inline-block; margin: 0 auto; min-width: 200px;}
#story1, #story2, #story3, {padding-right: 15px;}
#story1, #story2, #story3, #story4, #digital1, #digital2, #digital3, #digital4 {border-bottom: 1px solid #e2e2e2; padding-bottom: 10px;}

#photo1, #photo2, #photo3, #photo4, #photo5 {width: 100%;}
.photos {text-align: right; margin: 0 auto; margin-top: 30px; display: inline-block;}
.hero-image {width: 100%; margin: 0 auto; margin-top: 30px; display: inline-block;}
.caption {font-size: 10px; font-weight: 500; font-family: 'Open Sans', 'Helvetica', arial, sans-serif; margin: 0 auto; color: rgb(179, 179, 179); text-align: left;}
.summary {margin-bottom: 5px;}

#footer {width: 100%;
margin: 0 auto;
background-color: black;
height: 85px;
font-size: 12px;
color: white;
font-family: 'Helvetica', 'Arial', sans-serif;
display: block;
margin-top: 30px;
text-align: center;}
