.container {width: 100%; max-width: 1600px; margin: 0 auto; padding-left: 60px; padding-right: 60px;}

@media only screen and (max-width: 600px) {
    .headline, .container, .title {font-size: 32px; margin: 0 auto; width: 100%; padding-left: 0px; padding-right: 0px;}
    .navbar, .col-sm-6, .col-sm-9 {margin: 0 auto; width: 100%; padding-right: 0px; border-right: 0px;}
    .col-sm-6, .col-sm-9 {padding-right: 15px; border-bottom: 1px solid #e2e2e2; padding-bottom: 10px;}
    #photo1 {margin: 0 auto; width: 100%; height: 150;}
    .byline {font-size: 12px; margin: 0 auto; width: 100%;}
    .navbar, .caption, .navbar.navbar-expand-lg.navbar-dark.bg-inherit, .row, nav {margin: 0 auto; width: 100%;}
    .photos, #photo1, #photo2, #photo3, #photo4 {margin: 0 auto; width: 100%; height: auto;}
    a.nav-link, li.nav-item {display: none;}
    a.navbar-title {margin-left: 80px;}
    .hero-container {overflow-x: hidden;}
    .hero-intro, p#hero-title.title {font-size: 1.25em;}
    p#hero-sub.subtitle, .hero-footer {font-size: .75em;}
    .hero-footer {padding-left: 15px; padding-right: 15px;}
    p.hero-text {font-size: 1em; bottom: 45%;}
    #hero-about {width: 100%;}
    #hero-image1 {width: auto; right: 400px;}
    #reporting-text, #design-text {bottom: 54%;}
    #reporting-footer, #design-footer {bottom: 6%;}
    .hero-image {width: 100%; position: relative;}
    button.menu-bars {margin-left: 0px; display: inline-block;}
    button.contact {margin-left: auto; margin-right: 15px;}
    #story1, #story2 {border-bottom: 1px solid #e2e2e2;}
    i.far.fa-envelope::before, i.fab.fa-linkedin-in::before {font-size: 20px;}
    .hero-image {width: 100%; margin: 0 auto; padding-left: 15px; padding-right: 15px;}
    .title {margin-top: 15px;}}

@media only screen and (max-width: 400px) {
  #hero-image1 {width: auto; right: 400px;}}

@media only screen and (max-width: 667px) {#reporting {display: none;}}
@media only screen and (min-width: 667px) {button.menu-bars {display: none;}}

@media only screen and (min-width: 600px) {
    .row {padding-bottom: 10px;}
    li.nav-title {padding-right: 60px; margin: 0 auto;}
    button.contact {margin-left: 20px; margin-right: 60px;}
    .hero-intro, p#hero-title.title {font-size: 1.5em;}
    p#hero-sub.subtitle, {font-size: 1em;}
    p.hero-text {font-size: 1.5em; bottom: 50%;}
    p.hero-footer {font-size: 1em; margin-left: 30px; margin-right: 30px;}
    #reporting-text, #design-text {font-size: 1.5em;}
    #reporting-footer {padding-left: 30px; padding-right: 30px;}
    #left-links {margin-left: 60px;}
    #about-photo {display: inline; width: 50%;}
    .hero-image {width: inherit; margin: 0 auto;}
    a.nav-link, li.nav-item {display: inline;}
    #design-section {padding-left: 15px;}
    #writing-section {border-right: 1px solid #e2e2e2;}
    .stories {padding-right: 15px;}
    i.far.fa-envelope::before, i.fab.fa-linkedin-in::before {font-size: 24px;}
    .title {font-size: 48px; padding-top: 20px;}}

a:hover {text-decoration: underline; color: #1f317a;}
a {color: black;}
a.nav-button {color: white; font-weight: 700;}
a.nav-button {transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;}
a.nav-link {color: black; font-weight: 700;}
a.nav-link:hover, a.navbar-title:hover {text-decoration: underline;}
a.navbar-title {display: inline-block; border-radius: 3px; text-align: center; color: black; font-family: 'Proxima Nova', 'Helvetica', sans-serif; font-weight: 700; font-size: 1.25em;}
li.nav-title {margin: 0 auto; list-style-type: none;}
button.contact {background-color: #3452cb; border: 1px solid #1f317a; font-family: 'Proxima Nova', 'Helvetica', sans-serif; color: #fff; cursor: pointer; font-size: 12px; font-weight: 700;  border-radius: 3px; letter-spacing: .05em; line-height: 11px; padding: 11px 12px 8px; float:right;}
button.contact:hover {background-color: #1f317a;}
button.menu-bars {background-color: inherit; width: 40px; color: white; border: none; position: absolute;}
button.menu-bars:hover {background-color: #373433;}
i.fas.fa-bars {background color: #d4d4d4; border-radius: 3px;}

html {scroll-behavior: smooth;}
body {overflow-x: hidden;}

#sidebar {position: fixed;
width: 200px;
height: 100%;
background: white;
Left: -200px;
transition: all 500ms linear;}
#sidebar.active {left: 0px; z-index: 1;}
.li {color: black;
list-style: none;
padding: 15px 10px;
border-bottom: 1px solid rgba(100, 100, 100, 0.3);
z-index: 1;}

.title {font-family: 'Open Sans','Helvetica', arial, sans-serif; font-weight: 700; color: black; line-height: 48px; margin-bottom: 15px;}
#header {margin-bottom: 5px;}

p {text-align:left; line-height:180%; font-family: 'Libre Baskerville', 'Georgia', 'Times New Roman', serif; font-size: 15px;}
p.hero-text, p.hero-footer {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif;}
p.hero-text {position: absolute; color: white; font-weight: 600; padding-left: 15px; background-color: #373635; opacity: 70%; padding-right: 15px; width: 100%;}
p.hero-footer {position: absolute; bottom: 4%; color: white; font-weight: 400; margin: 0 auto; width: 100%; text-align: center; width: 100%;}


p#hero-title.title {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; font-weight: bold; margin-bottom: 0px;}
p#hero-sub.subtitle {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; font-weight: bold;}
i.fas.fa-chevron-circle-right::before {color: #21438a; background-color: white; transition: .5s;}
i.fas.fa-chevron-circle-left::before {color: #21438a; background-color: white; transition: .5s; margin-right: 10px;}
a.arrow-previous {transition: .5s;}
a.arrow-previous:hover {font-size: 150%; transition: .5s;}
a.arrow-next {transition: .5s;}
a.arrow-next:hover {font-size: 150%; transition: .5s;}
#hero-home {background-image: url("images/capitol-night1.jpg");}
#hero-reporting {background-image: url("images/hearing1.jpg");}
#hero-design {background-image: url("images/newscotus10-16.jpg");}
#hero-about {width: 100%;}
#about-summary1 {position: relative;}



.nav-link, li.nav-item {font-size: 1.25em; color: black; font-family: 'Proxima Nova', 'Helvetica', sans-serif; list-style: none;}
.navbar {font-family: 'Proxima Nova', 'Helvetica', sans-serif; color: inherit; width: 100%; border-bottom: 1px solid #bfbfbf;}

.headline {font-family: 'Open Sans','Helvetica', arial, sans-serif; font-size: 26px; font-weight: 200; color: black; text-align: left; margin: 0 auto; padding-bottom: 5px;}
.byline {font-size: 10px; font-weight: 500; font-family: 'Open Sans', 'Helvetica', arial, sans-serif; color: rgb(179, 179, 179); margin: 0 auto; padding-bottom: 10px;}

.hero-intro {position: absolute; top: 5%; display: block; width: 100%; background-color: white; opacity: 70%; padding-left: 15px;}
.hero-container {display: block; position: relative; width: 100%; height: 100vh; background-repeat: no-repeat; margin: 0 auto; background-position: center; background-size: cover;}

.col-sm-6 {margin: 0 auto; display: inline;}
.col-sm-9 {display: inline-block; margin: 0 auto; min-width: 200px;}
#story1, #story2, #digital1, #digital2 {border-bottom: 1px solid #e2e2e2;}

#photo1, #photo2, #photo3, #photo4, #photo5 {width: 100%;}
.photos {text-align: right; margin: 0 auto; margin-top: 30px; display: inline-block;}
.hero-image {display: inline-block; height: 100vh; z-index: -1;}
.caption {font-size: 10px; font-weight: 500; font-family: 'Open Sans', 'Helvetica', arial, sans-serif; margin: 0 auto; color: rgb(179, 179, 179); text-align: left;}
.summary {margin-bottom: 5px;}

#footer {width: 100%;
margin: 0 auto;
background-color: black;
height: 85px;
font-size: 12px;
color: white;
font-family: 'Helvetica', 'Arial', sans-serif;
display: block;
margin-top: 30px;
text-align: center;}
