/*Responsive styling for large, desktop viewports*/
@media only screen and (min-width: 600px) {
    .hero-intro, p#hero-title.title {font-size: 1.5em;}
    p#hero-sub.subtitle, {font-size: 1em;}
    p.hero-text {font-size: 1.5em; bottom: 50%;}
    .clips-container {left: 5%; bottom: 13%;}
    a.headline-links {font-size: 16px; line-height: 140%;}
    p.story-intro {font-size: 14px; line-height: 140%;}
    p.hero-footer {font-size: 1em; margin-left: 30px; margin-right: 30px;}
    p.first-letter {font-size: 36px; line-height: .8; margin-top: .1em; margin-left: -.05em; margin-right: .05em; margin-bottom: 0px; padding: 5px 10px 5px 10px; width: 50px;}
    p.first-line {font-size: 14px;}
    p.summary {line-height: 140%; display: inline;}
    #reporting-text, #design-text {font-size: 1.5em;}
    #reporting-footer {padding-left: 30px; padding-right: 30px;}
    #bio {margin-left: 15px; margin-right: 30px; top: 30%;}
    #portrait-photo {max-width: 20%;}
    #footer {font-size: 12px;}
    .title {font-size: 48px; padding-top: 20px;}}

/*Responsive styling for medium-width viewports*/
@media only screen and (max-width: 600px) {
    .headline, .title {font-size: 32px; margin: 0 auto; width: 100%; padding-left: 0px; padding-right: 0px;}
    .title {margin-top: 15px;}
    .hero-container {overflow-x: hidden;}
    .hero-intro, p#hero-title.title {font-size: 1.25em;}
    p#hero-sub.subtitle, .hero-footer {font-size: .75em;}
    p.hero-footer {padding-left: 15px; padding-right: 15px;}
    p.hero-text {font-size: 1em; bottom: 45%;}
    #reporting-text, #design-text {bottom: 54%;}
    #reporting-footer, #design-footer {bottom: 6%;}
    #bio {margin-left: 15px; margin-right: 15px; top: 25%;}
    #portrait-photo {width: 30%; margin-bottom: 10px;}
    #footer {font-size: 10px;}
    p.first-letter {font-size: 14px; padding: 2px 3px 2px 3px; line-height: 120%;}
    p.first-line {font-size: 10px; line-height: 120%;}
    p.summary {font-size: 12px;}}

/*Responsive styling for mobile and small-width viewports*/
@media only screen and (max-width: 400px) {p#hero-title.title {font-size: 1em;}
  .hero-intro {font-size: 1em; margin-bottom: 10px; background-color: rgb(0,0,0, 0.7);}
  p#hero-sub.subtitle, .hero-footer {font-size: .5em;}
  #bio {margin-left: 7px; margin-right: 7px; top: 23%;}
  p.first-letter {font-size: 12px; padding: 2px 3px 2px 3px; line-height: 110%;}
  p.first-line {font-size: 10px; line-height: 110%;}
  p.summary {font-size: 10px; line-height: 110%; display: block;}
  p.hero-text {font-size: .75em; bottom: 45%; background-color: rgb(0,0,0, 0.7);}
  #portrait-photo {width: 25%; margin-bottom: 5px;}
  #about-intro {top: -1%;}
  #footer {font-size: 8px;}}

/*General characteristics*/
a:hover {text-decoration: underline; color: #1f317a;}
a {color: black;}
html {scroll-behavior: smooth;}
body {overflow-x: scroll; width: 100%;}
.container {width: 100%; max-width: 100%;; margin: 0 auto; overflow-x: scroll; overflow-y: hidden; white-space: nowrap; padding-left: 0px; padding-right: 0px;}

/*Text, titles, subheadings, etc. */
.title {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans','Helvetica', arial, sans-serif; font-weight: 700; color: black; line-height: 48px; margin-bottom: 15px;}
p {text-align:left; line-height: 150%; font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; font-size: 15px;}
p.hero-text, p.hero-footer {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif;}
p.hero-text {position: absolute; color: white; font-weight: 600; padding-left: 15px; background-color: rgb(55,54,53,0.7); padding-right: 15px; width: 100%; white-space: normal;}
p.hero-footer {position: absolute; bottom: 4%; color: white; font-weight: 500; margin: 0 auto; width: 100%; text-align: center; width: 100%; white-space: normal;}
p.first-letter {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; background: #21438a; color: white; font-weight: 400; display: inline-flex;}
p.first-line {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; text-transform: uppercase; font-weight: bold; display: inline; margin-bottom: 0px;}
p.story-headline {color: white; display: flex; line-height: 140%; margin-bottom: 5px;}
.story-photos {width: 70%; padding-bottom: 5px; margin-left: 0; position: inherit; text-align: left; display: block;}
p.byline {font-size: 10px; color: white; display: block; margin-bottom: 5px;}
p.summary {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; white-space: normal; margin-bottom: 5px;}
p.story-intro {color: white;}
p#hero-title.title {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; font-weight: bold; margin-bottom: 0px;}
p#hero-sub.subtitle {font-family: 'Proxima Nova', 'Noto Sans', 'Open Sans', Arial, sans-serif; font-weight: bold;}

/*Links and interactive icons*/
i.fas.fa-chevron-circle-right::before {color: #21438a; background-color: inherit; transition: .5s;}
i.fas.fa-chevron-circle-left::before {color: #21438a; background-color: inherit; transition: .5s; margin-right: 10px;}
a.arrow-previous {transition: .5s;}
a.arrow-previous:hover {font-size: 150% !important; transition: .5s; cursor: pointer;}
a.arrow-next {transition: .5s;}
a.arrow-next:hover {font-size: 150% !important; transition: .5s; cursor: pointer;}
a#reporting-link, a#design-link {color: white;}
a.headline-links {color: white;}
a#email, a#linkedin, a#phone {display: inline; color: black;}
a#email:hover, a#linkedin:hover, a#phone:hover {font-size: 150% !important; color: #21438a; transition: .5s;}
i.far.fa-envelope::before, i.fab.fa-linkedin-in::before {color: black;}
i.fas.fa-mobile-alt::before {margin-right: 5px;}

/*Containers, etc.*/
#hero-home {background-image: url("images/capitol-night1.jpg");}
#hero-reporting {background-image: url("images/hearing1.jpg");}
#hero-design {background-image: url("images/newscotus10-16.jpg");}
#story2, #story3, #story4, #digital2, #digital3, #digital4 {border-left: 1px solid white;}
#portrait-photo {float: left; margin-right: 10px;}
#about-intro {background-color: white;}
#bio {display: block; position: absolute; white-space: normal;}
.hero-intro {position: absolute; top: 5%; display: block; width: 100%; background-color: rgb(255,255,255,0.7); padding-left: 15px;}
.hero-container {display: inline-block; position: relative; width: 100%; height: 100vh; background-repeat: no-repeat; margin: 0 auto; background-position: center; background-size: cover; max-width: 100%;}
.clips-container {width: 90%; height: 36%; background-color: rgb(55,54,53,0.7); position: absolute; background-position: center; overflow-y: hidden; overflow-x: scroll; text-align: center;}
.stories, .digital {width: 30%; height: auto; padding-left: 1%; padding-right: 1%; display: inline-grid; white-space: normal; margin: 0 auto;}
#footer {width: 100%; margin: 0 auto; background-color: black; height: 85px; color: white; font-family: 'Helvetica', 'Arial', sans-serif; display: block; margin-top: 30px; text-align: center; position: absolute; bottom: 0;}
a#footer-link {color: white;}
